<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <connectionStrings><!--<add name="SMLPORTALEntities" connectionString="metadata=res://*/Models.SmlPortalDb.csdl|res://*/Models.SmlPortalDb.ssdl|res://*/Models.SmlPortalDb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.30.1.220;initial catalog=SMLPORTAL;persist security info=True;user id=smlportal;password=smlportal789;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="SMLPORTALEntities" connectionString="metadata=res://*/Models.SmlPortalDb.csdl|res://*/Models.SmlPortalDb.ssdl|res://*/Models.SmlPortalDb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\zakirindb;initial catalog=SMLPORTAL;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="BaInfoCenterDb" connectionString="metadata=res://*/Models.BaInfoCenterDb.csdl|res://*/Models.BaInfoCenterDb.ssdl|res://*/Models.BaInfoCenterDb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.30.6.125;initial catalog=INFOCENTER-A;persist security info=True;user id=sa;password=R04Mw@k0;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SMLProcessControlEntities" connectionString="metadata=res://*/Models.ncimdb.csdl|res://*/Models.ncimdb.ssdl|res://*/Models.ncimdb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.30.3.28;initial catalog=SMLProcessControl;user id=SMLReader;password=SMLReader;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>